*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.register-body{
    background: var(--color-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(/assets/MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].woff2) format('woff2');
  }
:root{
    --background: linear-gradient(rgba(244, 244, 244, 0.888), rgba(244, 244, 244, 0.888)), url(assets/freepik__adjust__873.jpg);
    --hover: linear-gradient(rgba(244, 244, 244, 0.544), rgba(244, 244, 244, 0.544));
    --background1: linear-gradient(rgba(191, 191, 191, 0.741), rgba(191, 191, 191, 0.741)), url(assets/demo1.png);
    --background2: linear-gradient(rgba(191, 191, 191, 0.741), rgba(191, 191, 191, 0.741)), url(assets/demo2.png);
    --background3: linear-gradient(rgba(191, 191, 191, 0.741), rgba(191, 191, 191, 0.741)), url(assets/demo3.png);
    --background4: linear-gradient(rgba(191, 191, 191, 0.741), rgba(191, 191, 191, 0.741)), url(assets/demo4.png);
    --color-1: #9faf9a;
    --color-2: #d7e4d3;
    --color-3: #337357;
    --color-3a: #275642;
    --color-4: #cad1cd;
    --color-5: black;
    /* --swiper-theme-color: #337357; */
    --shadow: 0px 1px 2px 0px #0000000F, 0px 1px 3px 0px #0000001A;
}
.dark-theme{
    --background: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/freepik__adjust__873.jpg);
    --hover: linear-gradient(rgba(31, 31, 31, 0.4), rgba(31, 31, 31, 0.4));
    --background1: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/demo1.png);
    --background2: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/demo2.png);
    --background3: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/demo3.png);
    --background4: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/demo4.png);
    --color-1: #2e3e37;
    --color-2: #337357;
    --color-3: #d7e4d3;
    --color-3a: #adafac;
    --color-5: white;
    /* --swiper-theme-color: #d7e4d3; */
    --color-4: #505f59;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/* ----------- USER ACCOUNT STYLES ------------ */
.user-hero{
    position: absolute;
    width: 100%;
    top: 158px;
    height: 165%;
    text-align: center;
    color: var(--color-3);
}
.user-hero h4{
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    color: var(--color-3a);
    padding-bottom: 12px;
    border-bottom: 2px solid var(--color-3);
}
.user-control{
    position: relative;
    top: 270px;
    background: var(--color-2);
    padding: 40px;
    width: 80%;
    margin-bottom: 40px;
}
.user-control h2{
    border-bottom: 1px solid var(--color-3);
    padding-bottom: 10px;
}
.profile-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-3);
}
.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pic img{
    width: 220px;
    height: 260px;
    padding: 20px 0 20px 0;
    border-radius: 50%;
}
.pic button{
    width: 70%;
    height: 35px;
    background: rgb(220, 220, 220);
    border-radius: 4px;
    border: 1px solid black;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.pic button:hover{
    background: silver;
}
.user-details{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.user-details span{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 20px;
}
.user-details span input{
    padding: 8px 130px 8px 8px;
    width: 60%;
}
.user-details span select{
    padding: 8px 30px 8px 8px;
    width: 60%;
    color: var(--color-3);
}
.profile-buttons{
    display: flex;
    gap: 20px;
}
.profile-change{
    height: 35px;
    background: var(--color-3);
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-2);
    cursor: pointer;
    transition: 0.5s;
}
.profile-save{
    display: none;
}
.profile-change:hover{
    background: transparent;
    border: 2px solid var(--color-1);
    border-radius: 8px;
    color: var(--color-1);
    box-shadow: none;
}
.ch-password{
    margin: 40px 0px 40px 0px;
    border-bottom: 1px solid var(--color-3);
}
.password-details{
    display: flex;
    flex-direction: column;
}
.password-details span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
}
.password-details span input{
    padding: 8px 130px 8px 8px;
    width: 70%;
}
.password-btns{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
.pass-update{
    display: none;
}
.delete-acc{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.delete-acc p{
    color: rgb(212, 34, 34);
    font-size: 18px;
}
.profile-delete{
    padding: 10px;
    height: 35px;
    background: rgb(212, 34, 34);
    margin: 20px 0px 20px 0px;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    align-self: center;
}
.profile-delete:hover{
    background: rgb(148, 4, 4);
}

@media (max-width: 785px){
    .profile-info{
        flex-direction: column;
    }
    .user-details{
        width: 100%;
    }
    .profile-buttons{
        flex-direction: column;
    }
    .password-btns{
        flex-direction: column;
    }
}