@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0; 
  scroll-behavior: smooth;
  background: var(--background);
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}
:root{
    --background: linear-gradient(rgba(244, 244, 244, 0.888), rgba(244, 244, 244, 0.888)), url(assets/freepik__adjust__873.jpg);
    --background1: linear-gradient(rgba(191, 191, 191, 0.741), rgba(191, 191, 191, 0.741)), url(assets/demo1.png);
    --background2: linear-gradient(rgba(191, 191, 191, 0.741), rgba(191, 191, 191, 0.741)), url(assets/demo2.png);
    --background3: linear-gradient(rgba(191, 191, 191, 0.741), rgba(191, 191, 191, 0.741)), url(assets/demo3.png);
    --background4: linear-gradient(rgba(191, 191, 191, 0.741), rgba(191, 191, 191, 0.741)), url(assets/demo4.png);
    --color-1: #d4fbea;
    --color-2: #d7e4d3;
    --color-3: #337357;
    --color-4: #eff5f2;
    --color-5: black;
    /* --swiper-theme-color: #337357; */
    --shadow: 0px 1px 2px 0px #0000000F, 0px 1px 3px 0px #0000001A;
}
.dark-theme{
    --background: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/freepik__adjust__873.jpg);
    --background1: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/demo1.png);
    --background2: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/demo2.png);
    --background3: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/demo3.png);
    --background4: linear-gradient(rgba(31, 31, 31, 0.7), rgba(31, 31, 31, 0.7)), url(assets/demo4.png);
    --color-1: #2e3e37;
    --color-2: #337357;
    --color-3: #d7e4d3;
    /* --swiper-theme-color: #d7e4d3; */
    --color-4: #505f59;
    --color-5: white;
}
a{
    color: inherit;
    text-decoration: none;
}
header{
    width: 100%;   
    z-index: 3;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--color-2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}
#logo{
    width: 30%;
}
#logo img{
    width: 100%;
}
#mode{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
#mode img{
    width: 70%;
}
#mode:hover img{
    width: 50%;
}
main{
    position: relative;
    display: flex;
    width: 80%;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100vh;
    /* padding-bottom: 136px; */
}
.hero{
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

}
.hero-head{
    color: var(--color-3);
    margin-bottom: 50px;

}
.hero-head h1{
    font-size: 60px;
}
.hero-head h2{
    font-size: 60px;
    padding-bottom: 20px;
}
.hero-head p{
    font-size: 20px;
    font-weight: 500;
}
.reg{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 55px;
}
.reg li{
    list-style: none;
    font-size: 30px;
    color: var(--color-3);
    font-weight: 500;
    text-align: center;
    border-radius: 7px;
}
#log{
    background-color: var(--color-3);
    color: var(--color-2);
    padding: 10px;
    transition: 0.4s;
}
#log:hover{
    background-color: transparent;
    color: var(--color-3);
    border: 4px solid var(--color-3);
    padding: 5px 10px;
}
#sign{
    border: 4px solid var(--color-3);
    padding: 5px 10px;
    transition: 0.4s;
}
#sign:hover{
    border: none;
    padding: 10px;
    color: var(--color-2);
    background-color: var(--color-3);
}
main img{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    pointer-events: none;
    z-index: -1;
}
#img1{
    top: 10%;
    width: 20%;
    animation: fadeBounce 1s infinite ease-in-out;
}
@keyframes fadeBounce {
    0%, 100% {
        opacity: 0.5;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-5px);
    }
}
#img2{
    top: 20%;
    left: 30%;
    animation: fadeBounce 1s infinite ease-in-out;
}
#img3{
    top: 30%;
    left: 70%;
    z-index: -2;
}
.services{
    position: relative;
    background: var(--color-2);
    display: flex;
    justify-content: center;
}
.service-content{
    margin-top: 128px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 128px;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: justify;
    cursor: pointer;
}
.service img{
    width: 64px;
}
.service h3{
    margin: 0;  
    font-weight: 500;
    padding-bottom: 4px;
}
.service p{
    color: var(--color-3);
}
.light{
    font-weight: 300;
}
.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-2);
    padding: 4rem 1rem;
    height: auto;
}

.demo h1 {
    font-size: 2.5rem;
    color: var(--color-3);
    margin-bottom: 2rem;
    text-align: center;
}
.swiper{
    height: 400px;
    width: 80%;
    border-radius: 20px;
    border: 5px solid var(--color-3);
}
.swiper-wrapper{
    width: 60%;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    font-size: 20px;
}
.swiper-button-next, .swiper-button-prev{
    color: var(--color-3);
}
.title, .text{
    padding-left: 35px;
    color: var(--color-3);
}
.title{
    font-weight: 600;
    font-size: 60px;
}
.text{
    padding-right: 35px;
}
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-2);
    height: 70px;
    color: var(--color-3);
}
footer p{
    margin-top: 27px;
}
footer a{
    color: var(--color-3);
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}
footer a:hover{
    text-decoration: underline;
}



/*---------- MEDIA QUERIES ---------*/
@media screen and (max-width: 679px){
    body{
        overflow-x: hidden;
    }
    .reg{
        flex-direction: column;
        gap: 15px;
    }
    .hero-head{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 504px){
    .hero-head h1{
        font-size: 40px;
    }
    .hero-head h2{
        font-size: 40px;
    }
    #img2{
        width: 100%;
    }
}
@media screen and (max-width: 414px){
    .reg li{
        font-size: 20px;
    }
}
